@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --black-blue: #193646;
    --light-gray: #f5f5f5;
    --dark-gray: #dddddd;
    --shadow-blue: #1936468c;
}
.navbar{
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black-blue);
    height: 45px;
    overflow: hidden;
    box-shadow: 0px 3px 20px var(--shadow-blue);
    z-index: 2;
}
.navbar-s1{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.navbar-s1 img{
    width: 30px;
    margin-right: 10px;
}
.navbar-s1 h1{
    color: var(--light-gray);
    font-size: 1rem;
}
.navbar-s2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar-s2 ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15px;
}
.navbar-s2 ul a{
    text-decoration: none;
    color: var(--black-blue);
}
.navbar-s2 li a{
    color: var(--light-gray);
    text-decoration: none;
    cursor: pointer;
}
.navbar-s2 li a:hover{
    border-bottom: 1px solid var(--light-gray);
}
.navbar-s2 button{
    height: 30px;
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--black-blue);
    font-weight: 700;
    background-color: var(--light-gray);
}
.navbar-s2 button:hover{
    background-color: var(--dark-gray);
}
#sobre{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 5%;
}
.me-draw-div{
    margin-top: 95px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    background-color: var(--black-blue);
    font-size: 14px;
}
.me-draw-div img{
    width: 45%;
    max-width: 400px;
}
.loader{
    height: 40px;
    position: relative;
}
.loader::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 65%;
    margin-top: 14px;
    background: var(--light-gray);
    animation: Blink 0.8s steps(3) infinite;
}
@keyframes Blink{
    0%,75%{
        opacity: 1;
    }
    76%,100%{
        opacity: 0;
    }
}
.loader h2 {
    animation: typing 8s steps(19) infinite;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 5px;
}
@keyframes typing{
    0%,90%,100%{
        width: 0;
    }
    30%,60%{
        width: 157.16px;
    }
}
.me-info{
    margin-top: 95px;
    width: 40%;
    height: max-content;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bottom-rainbow {
    height: 4px;
    background: repeating-linear-gradient(to right, #38a02e 0%, #38a02e 12.5%, #ffee51 12.5%, #ffee51 25%, #ffc336 25%, #ffc336 37.5%, #ec3828 37.5%, #ec3828 50%, #e66aac 50%, #e66aac 62.5%, #a754df 62.5%, #a754df 75%, #4587e4 75%, #4587e4 87.5%, #32b3e2 87.5%, #32b3e2 100%), white;
    background-size: 100% 10px, 100% 100%;
    background-repeat: no-repeat;
}
.rainbow-active{
    animation: 1s rainbow ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes rainbow {
    0% {
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.me-info > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 25px 25px;
}
.me-info h1{
    color: var(--black-blue);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    padding-top: 15px;
}
.me-info img{
    width: 45%;
    margin: 15px;
    max-width: 200px;
    animation: rotate 2s ease infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.me-info p {
    font-weight: bold;
    margin: 15px;
    text-align: justify;
}
#conhecimentos{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    background-color: var(--light-gray);
    text-align: center;
}
#conhecimentos h1{
    font-size: 30px;
    color: var(--black-blue);
    margin-bottom: 0;
    margin-top: 0;
}
#conhecimentos > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.c-comp{
    margin: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 150px;
    background-color: var(--black-blue);
    border-radius: 5px;
    color: var(--light-gray);
}
.c-comp button{
    height: 30px;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--light-gray);
    border: 2px var(--light-gray) solid;
    font-weight: 700;
    background-color: transparent;
}
.c-comp img{
    width: 60px;
}
.c-comp button:hover{
    background-color: var(--light-gray);
    color: var(--black-blue);
}
#projetos{
    margin: 0 auto;
    overflow: hidden;
    transition: .2s;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 80%;
    background-color: var(--black-blue);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
#projetos > h1{
    color: var(--light-gray);
    font-size: 30px;
    margin-bottom: 0;
}
#projetos > div{
    width: max-content;
    display: flex;
    justify-content: space-around;
}
.projeto{
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px 20px 25px;
    background-color: var(--light-gray);
}
.projeto button{
    height: 30px;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--black-blue);
    border: 2px var(--black-blue) solid;
    font-weight: 700;
    background-color: transparent;
}
.projeto button:hover{
    background-color: var(--black-blue);
    color: var(--light-gray);
}
footer{
    position: fixed;
    bottom:0;
    left:0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    background-color: var(--black-blue);
}
footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--light-gray);
}
footer img{
    width: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(673%) hue-rotate(260deg) brightness(122%) contrast(95%);
}
.switcher-content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.switcher-content img{
    width: 25px;
    cursor: pointer;
}
.buttons{
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: inherit;
}
#right-btn, #left-btn{
    display: flex;
    align-items: center;
    position: relative;
    content: "";
    background-color: #2a6169;
    width: 40px;
    height: 40px;
    margin: 5px 10px 0px 10px;
    border-radius: 20px;
}
#right-btn img{
    width:50%;
    margin: 0 auto;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(75%) hue-rotate(346deg) brightness(115%) contrast(95%);
    transform: rotate(180deg);
}
#left-btn img{
    width:50%;
    margin: 0 auto;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(75%) hue-rotate(346deg) brightness(115%) contrast(95%);
}
#right-btn:hover, #left-btn:hover{
    background-color: #1b454b;
    cursor: pointer;
}

.carrossel{
    transition: .2s;
    margin: 20px 20px 20px 0px;
}
#certificaçoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    background-color: var(--light-gray);
    text-align: center;
    margin-bottom: 95px;
    overflow: hidden;
}
#certificaçoes h1{
    font-size: 30px;
    color: var(--black-blue);
    margin-bottom: 0;
    margin-top: 0;
}
.overflow{
    display: flex;
    width: 565px;
    margin: 0 auto;
    overflow: hidden;
}
.c-container{
    width: 550px;
    transition: .1s;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
    gap: 15px;
    display: flex;
}
.c-container img{
    width: 550px;
    border-radius: 20px;
}
.progress{
    width: 100%;
    background-color: var(--black-blue);
    height: 5px;
    animation: progress 5s infinite ease;
}
@keyframes progress{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .navbar-s2 li  a{
        display: none;
    }
    .navbar-s2 ul{
        gap: 0;
    }
    #sobre{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .me-draw-div{
        width: 90%;
    }
    .me-info{
        margin-top: 40px;
        width: 90%;
    }
    .me-info > div {
        flex-direction: column;
    }
    #conhecimentos{
        width: 90%;
    }
    .c-comp{
        width: 90%;
    }
    #projetos{
        width: 90%;
    }
    footer p{
        display: none;
    }
    .overflow{
        width: 300px;
    }
    .c-container{
        width: 300px;
    }
    .c-container img{
        width: 270px;
    }
    #certificaçoes{
        width: 90%;
    }
}
@media (min-width: 601px) and (max-width: 1500px) {
    .me-info img{
        display: none;
    }
}
